:root {
    --base-font-color: 131 148 150;
    --secondary-font-color: 88 110 117; 
    --emphasised-font:    147 161 161;

    --c-background-color: 0  43  54;
    --c-background-highlights: 7  54  66;

    --c-yellow: 181 137   0; 
    --c-orange: 203  75  22;  
    --c-red: 220  50  47;  
    --c-magenta: 211  54 130; 
    --c-violet: 108 113 196; 
    --c-blue: 38 139 210; 
    --c-cyan: 42 161 152; 
    --c-green: 133 153   0; 
}

body{
    background-color: rgba(var(--c-background-color));
    width: 800px;
}
header, footer{
    background-color: rgba(var(--c-background-highlights));
}

main,footer,header{
    color: rgba(var(--base-font-color));
}
link{
    color: rgba(var(--c-magenta));
}
nav~li,a:hover{
    color: rgba(var(--c-orange));
}

div{
    border:solid 3px;
    border-color: rgba(var(--c-cyan));
}
header{
    text-align: center;
    text-size-adjust: 150%;
    color: rgba(var(--c-yellow));
}
.menu{
    list-style: none;
    text-align: center;
    display: inline-flex;
    padding: 0 80px;
}
aside{
    color: rgba(var(--c-green));
}
h1,h2,h3{
    padding-top: 50px;
}